<div class="container">
  <div class="filters">
    <a class="button" routerLinkActive="active" routerLink="/catalog" [queryParams]="{filter: 'Heads'}" >Heads</a>
    <a class="button" routerLinkActive="active" routerLink="/catalog" [queryParams]="{filter: 'Arms'}" >Arms</a>
    <a class="button" routerLinkActive="active" routerLink="/catalog" [queryParams]="{filter: 'Torsos'}" >Torsos</a>
    <a class="button" routerLinkActive="active" routerLink="/catalog" [queryParams]="{filter: 'Bases'}" >Bases</a>
    <a class="button" routerLinkActive="active" routerLink='/catalog' [routerLinkActiveOptions]="{exact: true}">All</a>
  </div>

  <ul class="products">
    <li class="product-item" *ngFor="let product of getFilteredProducts()">
      <!-- Loading a child component and passing props, in this case a function and an array item iProduct -->
      <!-- Here we are listening to the BUY event, and when that is triggered we ping the addToCart() method  -->
      <bot-product-details 
        [product]="product" 
        (buy)="addToCart(product)">
      </bot-product-details>
    </li>
  </ul>
</div>